In [13]:
import pandas as pd

In [14]:
file_path = "C:/Program Files/R Files/Social_Anxiety_Survey_Master.csv"
df = pd.read_csv(file_path, encoding="utf-8-sig", skipinitialspace=True)
df

,Timestamp,Gender,Student,Age,Marital,Q1,Q2,Q3,Q4,Q5,Q6,Q7
0,12/12/2019 2:06,Female,Yes,21 - 30,Single,Less than 4 hours per day,3,3,3,3,4,1
1,12/12/2019 21:41,Male,Yes,21 - 30,Single,Less than 2 hours per day,3,3,2,2,4,4
2,12/12/2019 21:42,Female,Yes,21 - 30,Single,4 hours and above per day,1,5,2,4,5,4
3,12/12/2019 21:43,Female,Yes,21 - 30,Single,Less than 1 hours per day,4,4,3,3,3,1
4,12/12/2019 21:43,Male,Yes,21 - 30,Single,Less than 1 hours per day,3,5,2,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...
61,12/31/2019 16:11:56,Male,Yes,20 or below,Single,Less than 3 hours per day,4,5,4,5,4,2
62,12/31/2019 16:12:42,Male,Yes,20 or below,Single,Less than 4 hours per day,3,2,5,3,1,4
63,12/31/2019 21:23:06,Female,Yes,21 - 30,Single,4 hours and above per day,1,1,1,4,5,1
64,1/1/2020 15:15,Male,Yes,21 - 30,Single,Less than 3 hours per day,2,4,4,4,4,4
65,1/1/2020 16:15,Female,Yes,21 - 30,Married,Less than 1 hours per day,2,2,2,2,4,5

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  66 non-null     object
 1   Gender     66 non-null     object
 2   Student    66 non-null     object
 3   Age        66 non-null     object
 4   Marital    66 non-null     object
 5   Q1         66 non-null     object
 6   Q2         66 non-null     int64
 7   Q3         66 non-null     int64
 8   Q4         66 non-null     int64
 9   Q5         66 non-null     int64
 10  Q6         66 non-null     int64
 11  Q7         66 non-null     int64
dtypes: int64(6), object(6)
memory usage: 6.3+ KB
None

In [16]:
print(df.head())

          Timestamp  Gender Student      Age Marital  \
0   12/12/2019 2:06  Female     Yes  21 - 30  Single
1  12/12/2019 21:41    Male     Yes  21 - 30  Single
2  12/12/2019 21:42  Female     Yes  21 - 30  Single
3  12/12/2019 21:43  Female     Yes  21 - 30  Single
4  12/12/2019 21:43    Male     Yes  21 - 30  Single

                          Q1  Q2  Q3  Q4  Q5  Q6  Q7
0  Less than 4 hours per day   3   3   3   3   4   1
1  Less than 2 hours per day   3   3   2   2   4   4
2  4 hours and above per day   1   5   2   4   5   4
3  Less than 1 hours per day   4   4   3   3   3   1
4  Less than 1 hours per day   3   5   2   3   4   4

In [17]:
print(df.isnull().sum())

Timestamp    0
Gender       0
Student      0
Age          0
Marital      0
Q1           0
Q2           0
Q3           0
Q4           0
Q5           0
Q6           0
Q7           0
dtype: int64

In [18]:
print("Gender:", df["Gender"].unique())
print("Student:", df["Student"].unique())
print("Age:", df["Age"].unique())
print("Marital:", df["Marital"].unique())

Gender: ['Female' 'Male']
Student: ['Yes' 'No']
Age: ['21 - 30' '31 - 40' '20 or below']
Marital: ['Single' 'Married']